# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build.ninja
build/
CMakeFiles/
.vscode/
CMakeCache.txt
cmake_install.cmake
compute_and_write_csv_example
compute_and_write_output.csv
parquet-arrow-example.parquet
reader_writer
.ninja_deps
.ninja_log
Makefile
.cache/
